<div class="mx-auto space-y-1 max-w-xl">
  <h3 class="text-3xl my-5">Log In to Pick'em!</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm)" class="space-y-1 mt-5" >
  <!--  <mat-form-field>-->
  <!--    <mat-label>Username</mat-label>-->
  <!--    <input matInput placeholder="example" type="text" formControlName="displayName" required>-->
  <!--  </mat-form-field>-->
    <div>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@example.com" type="email" formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput placeholder="********" formControlName="password" type="password" required>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="loginError" class="text-red mt-4 mb-4">
      {{loginError}}
    </div>
    <div class="space-x-1">
      <button mat-raised-button color="primary" type="submit">Sign up</button>
      <button type="button" (click)="onGoogleLogin()" class="rounded-md bg-blue-500 p-[6px] text-white">
        <fa-icon [icon]="faGoogle"></fa-icon> Log in with Google
      </button>
    </div>
  </form>

</div>
